*{
    margin: 0;
    padding: 0;    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.grid-container > *{
    padding: 20px;
    border: solid;
    text-align: center;
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "header header header"
        "navbar main sidebar"
        /* "main main main "
        "sidebar  sidebar sidebar" */
        "footer footer footer";
}
.header{
    grid-area: header;
}
.nav{
    grid-area: navbar;
}
.aside{
    grid-area: sidebar;
}
.footer{
    grid-area: footer;
}