*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Shadows Into Light', cursive;  
}
.contenedor-uno{
    height: 30vh;
    background-color: hsl(109, 62%, 78%);
}
input{
    display: block;
    margin: 10px;
    padding: 10px;
    border: 3px solid orange;
}
.contenedor-form{
    border: 3px solid greenyellow;
    height: 100vh;
    background-color: coral;
}
article{
    height: 40vh;
    background-color: rgba(red, green, blue, 0.4);
}